BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "users" ("id" serial primary key, "name" varchar not null, "email" varchar not null, "email_verified_at" TIMESTAMP, "password" varchar not null, "remember_token" varchar, "created_at" TIMESTAMP, "updated_at" TIMESTAMP);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" TIMESTAMP, primary key ("email"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" serial primary key, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" TIMESTAMP not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" serial primary key, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" varchar not null, "token" varchar not null, "abilities" text, "last_used_at" TIMESTAMP, "expires_at" TIMESTAMP, "created_at" TIMESTAMP, "updated_at" TIMESTAMP);
CREATE TABLE IF NOT EXISTS "components" ("component_id" serial primary key, "component_name" varchar, "component_quantity" integer, "component_quantity_unit" varchar, "component_price_per_quantity" numeric, "created_at" TIMESTAMP, "updated_at" TIMESTAMP);
INSERT INTO components VALUES(2,'test',100,'g',12,'2023-05-12 06:06:23','2023-05-12 06:06:23');
CREATE TABLE IF NOT EXISTS "products" ("product_id" serial primary key, "product_name" varchar, "product_price" numeric, "product_components" text, "product_cost" numeric, "created_at" TIMESTAMP, "updated_at" TIMESTAMP);
INSERT INTO products VALUES(5,'Brownies',12,NULL,0,'2023-05-18T03:42:06.960Z',NULL);
INSERT INTO products VALUES(6,'Special Ensaymada',10,NULL,0,'2023-05-18T03:43:16.567Z','2023-05-20T23:44:38.854Z');
INSERT INTO products VALUES(7,'Ensaymada',7,NULL,0,'2023-05-18T03:43:35.689Z','2023-05-20T23:45:12.766Z');
CREATE TABLE IF NOT EXISTS "tallies" ("tally_id" 
            INTEGER 
             
            NOT NULL
            
            
            , "date_tallied" 
            TIMESTAMP 
             
            NULL
            
            
            , "comment" 
            VARCHAR 
             
            NULL
            
            
            , "status" 
            VARCHAR 
             
            NULL
            
            
            , "products" 
            TEXT 
             
            NULL
            
            
            , "total_count" 
            INTEGER 
             
            NULL
            
            
            , "total_sold" 
            INTEGER 
             
            NULL
            
            
            , "total_unsold" 
            INTEGER 
             
            NULL
            
            
            , "total_cost" 
            NUMERIC 
             
            NULL
            
            
            , "total_sales" 
            NUMERIC 
             
            NULL
            
            
            , "total_income" 
            NUMERIC 
             
            NULL
            
            
            , "created_at" 
            TIMESTAMP 
             
            NULL
            
            
            , "updated_at" 
            TIMESTAMP 
             
            NULL
            
            
            , PRIMARY KEY ("tally_id"));
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
COMMIT;
